# Intellij
*.iml
*.iws
.idea/

# Compiled class file
*.class

# Log file
*.log
*.iml

# image file
ComMeNau/src/main/webapp/images/
ComMeNau/src/main/java/com/commenau/util/FaceBookUtil.java
ComMeNau/src/main/java/com/commenau/util/GoogleUtil.java


# package files
*.jar
*.war
*.ear

# Maven
log/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# Tomcat
# *.smarttomcat/

